 /*éléments principaux de la page*/

@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	font-family: "ambleregular", "Impact", "Arial"; 
	color: black;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}
#bloc_page
{
	width: auto;
	margin: auto;
}
h2
{
	font-weight: bold;
}

/*header*/
header
{
	display: flex;
	position: relative;
}

#photo
{
	width: 300px;
	background-color: #FEA101;
	margin left : 50px;
}
.moi
{
	margin-top: 50px;
	text-align: center;
}
#prénom
{
	text-align: right;
	padding-top: 75px;
	margin-left: 25px;
	color : #FEA101;
	
}
#nom
{
	text-align: left;
	padding-top: 75px;
	margin-left: 10px;
}
#poste
{
	margin-left: 326px;
	position: absolute;
	padding-top: 120px;
}


/*section*/
section
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

/*article*/
article
{
	padding-left: 30px;
	text-align: justify;
}
	/*formation*/

#Formation
{
	margin-top: 30px;
}
.titreparagraphe1
{
	display: flex;
	border-bottom: solid #FEA101;
}
.fatitreparagraphe1
{
	color: #FEA101;
	width: 50px;
	margin-right: 30px;
}
.ecole1
{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.date1
{
	max-width: 125px;
	margin-left: 25px;
}
.Libelle1
{
	margin-left: 150px;
	padding-right: 25px;
}


.ecole2
{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.date2
{
	max-width: 125px;
	margin-left: 25px;
}
.Libelle2
{
	margin-left: 150px;
	padding-right: 25px;
}


/*expérience professionnelle*/

#Experience
{
	margin-top: 30px;
}

.titreparagraphe2
{
	display: flex;
	border-bottom: solid #FEA101;
}
.fatitreparagraphe2
{
	color: #FEA101;
	width: 50px;
	margin-right: 30px;
}
.job1
{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}
.datejob1
{
	max-width: 125px;
	margin-left: 25px;
}
.Libellejob1
{
	margin-left: 150px;
	padding-right: 25px;
}

.job2
{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}
.datejob2
{
	max-width: 125px;
	margin-left: 25px;
}
.Libellejob2
{
	margin-left: 150px;
	padding-right: 25px;
}
.job3
{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}
.datejob3
{
	max-width: 125px;
	margin-left: 25px;
}
.Libellejob3
{
	margin-left: 150px;
	padding-right: 25px;
}

/*Recommandations*/

#Recommandations
{
	margin-top: 30px;
}

.titreparagraphe3
{
	display: flex;
	border-bottom: solid #FEA101;
}
.fatitreparagraphe3
{
	color: #FEA101;
	width: 50px;
	margin-right: 30px;
}

/*aside*/
aside
{
	position:relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #FEA101;
	width: 300px;
}
.titrecoordonnées
h3
{
	border: 3px black solid;
	background-color: black;
	color: #FEA101;
	width: 300px;
	text-align: center;
}
.adresse
{
	text-align: left;
	padding-left: 15px;
	margin-top: 10px;
}
.tel
{
	text-align: left;
	padding-left: 15px;
	margin-top: 10px
}
.mail
{
	text-align: left;
	padding-left: 15px;
	margin-top: 10px
}
.siteweb
{
	text-align: left;
	padding-left: 15px;
	margin-top: 10px;
}
.skype
{
	text-align: left;
	padding-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.texteapropos
{
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
	padding-top :15px;
	padding-bottom: 100px;
}
.titreapropos
{
	text-align: center;
}
#apropos
h3
{
	border: 3px black solid;
	background-color: black;
	color: #FEA101;
	width: 300px;
}



/*footer*/
footer
{
	display: flex;
	
}
#loisirs
{
	background-color: #FEA101;
	width: 300px;
}
.titreloisirs
h3
{
	border: 3px black solid;
	background-color: black;
	color: #FEA101;
	width: 300px;
	text-align: center;
}
.iconesloisirs
{
	display: flex;
	justify-content: space-between;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 25px;
}
.recos
{
	display: flex;
	margin-top: 25px;
}

.reco1
{
	text-align : left
	padding-left:10px;
	margin-left: 25px;
}

.reco2
{
	text-align: left;
	padding-left: 10px;
	margin-left: 150px;
}


/*Ressponsivité*/
@media all and (max-width: 1024px)
{
	#bloc_page
	{
		width: auto;
	}
	#triangle
	{
		display: none;
	}
	nav ul
	{
		display: none;
	}
}